.App {
  text-align: center;
  background-image: url(https://images.unsplash.com/photo-1519011985187-444d62641929?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=80);
  width: 100%;
  height: 100vh;
  background-size: contain;
}



.itemList {
  display:flex;
  justify-content: center;
  align-items: center;
  margin:2%;
  flex-wrap: wrap;
  flex-direction: row;
}

button{
  width: 10%;
  justify-content: center;
  align-items: center;
}

.buttonDiv{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h2{
  margin-top: 12%;
  color: black;
  background-color: #D3D3D3;
  border-radius: 10px;
  opacity: .8;
  margin-bottom:4%;
}



.box{
  padding-top: 3%;
  flex-direction: column;
  align-items: center;
  display: flex;
  justify-content: center;
}

.button{
  width: 100%;
}

.link{
  padding: 2%;
  color: blue;
  font-size: 20px;
}


.signButton {
  margin-top: 2%;
  padding: 1%;
  border-radius: 35px;
  background-color: #696969
  ;
  color: whitesmoke;
  /* border: 2px solid orange; */

}

.addButton {
  margin-top: 2%;
  padding: 9%;
  border-radius: 35px;
  background-color: #696969
  ;
  color: whitesmoke;
  /* border: 2px solid orange; */
  width:120px;

}


.input{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 40%;
  margin: 0 2% 2% 2%;
}

.item {
margin:10px;
border:2px solid black;
width:200px;
height: 180px;
background-color: white;
opacity: 0.8;
}

.eachItem {
  border: 2px solid black;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width:50%;
  margin-left:25%;
  
}

.editDiv {
  display:flex;
  
}

.editButton {
  padding: 1%;
  border-radius: 35px;
  background-color: #696969;
  color: whitesmoke;
  width:100px;
}

.label {
  color:whitesmoke;
}