.App {
  text-align: center;
}

.itemList {
  display:flex;
  justify-content: center;
  align-items: center;
  margin:2%;
  flex-wrap: wrap;
  flex-direction: row;
}

.item {
margin:10px;
border:2px solid black;
width:200px;
height: 180px;
}